<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userdata</title>
</head>
<body>
    <form action="/userdata" method="POST">
        <div><input placeholder="First Name" name="Fname"></input></div>
        <div><input placeholder="Last Name" name="Lname"></input></div>
        <div><input placeholder="Address" name="address"></input></div>
        <div><input placeholder="Age" name="age"></input></div>
        <div><input placeholder="Email" name="email"></input></div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>